*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.backDrop{
    height: 100vh;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    animation: Fadein .5s ease-in-out  1 forwards;
}
.myModal{
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    border: 1px solid #ededed;
    position: fixed;
    top: 25%;
    left: 20%;
    background-color: #fff;
    animation: slideDown .5s ease-in-out 1 forwards;
}
.myClose{
    float: right;
    cursor: pointer;
}
.card-body img{
    height: 170px;
    object-fit: cover;
    width: 100%;
}

@keyframes slideDown {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}